*{
  margin:0;
  padding:0;
  border:0;
}
html{
  color:#555;
  font-family: 'Droid Sans', sans-serif;
}
body{
  margin:0 auto;
  max-width: 540px;
  z-index:2;
}
header{
  padding:15px;
  text-align:center;
}

div{
  display:table-row;
}

p{
  font-size:16px;
  line-height:20px;
  margin: 10px 0;
}

a{
  color:#5c5;
  background:white;
  text-decoration:none;
  display:inline-block;
  padding:6px;
  border-radius:2px;
  border:2px solid #5c5;
  transition:all 0.5s ease-out;
}
a:hover{
  color:white;
  background:#5c5;
}
