
@-moz-keyframes color-shift{
  0% {background-position:0 0;}
  25% {background-position:0 1000px;}
  50% {background-position:1000px 1000px;}
  75% {background-position:1000px 0;}
  100% {background-position:0 0;}
}

@-webkit-keyframes color-shift {
  0% {background-position:0 0;}
  25% {background-position:0 1000px;}
  50% {background-position:1000px 1000px;}
  75% {background-position:1000px 0;}
  100% {background-position:0 0;}
}


*{
  margin:0;
  padding:0;
  border:0;
}
html{
  color:#100000;
  text-shadow: 1px 1px 1px #eee;
  font-family:sans-serif;
  background-color:#dedede;
  background-image: -moz-radial-gradient(center, ellipse cover,  #fff 10%, #dedede 70%);
  background-image: -webkit-radial-gradient(center, ellipse cover,  #fff 10%,#dedede 70%);
  background-repeat:no-repeat;
  -moz-animation:color-shift 100s infinite ease-out;
  -webkit-animation:color-shift 100s infinite ease-out;
}
body{
  width:900px;
  margin:0 auto;
  z-index:2;
}
header img{
  padding:20px;
  text-align:center;
}
div{
  display:table-row;
}

article{
  padding:20px;
  padding-bottom:0;
  width:600px;
  display:table-cell;
}

section{
  padding:10px;
  border-radius:5px;
  border:1px solid #ccc;
  margin-bottom:20px;
}

section h2{
  font-size:24px;
  margin-bottom:12px;
}

section h3{
  font-size:16px;
  margin-bottom:5px;
}

aside{
  display:table-cell;
  width:220px;
  padding:20px;
}

aside ol li{
  list-style:none;
  margin-bottom:15px;
}

iframe{
  clear:both;
}

a{
  color:#333;
  text-decoration:none;
  font-weight:bold;
}
a:hover{
  color:#999;
}
.warning{
  background-color:#993333;
  color:#fff;
}
@media only screen and (max-device-width: 480px) {
  body{width:100%;}
  article, aside{
    display:block;
    width:auto;
  }
}

@media all and (orientation:landscape) {
  body { width:1024px;}
  article {width:700px;}
  aside{width:242px;}
  span.background {display:none;}
}
 
@media all and (orientation:portrait) {
  body { width:768px;}
  article{width:550px;padding:10px;}
  aside{width:178px;padding:10px;}
  span.background {display:none;}
}
