*{
  margin:0;
  padding:0;
  border:0;
}
html{
  color:#333;
  text-shadow: 1px 1px 1px #eee;
  font-family: 'Droid Sans', sans-serif;
}
body{
  width:900px;
  margin:0 auto;
  z-index:2;
}
header img{
  padding:15px;
  text-align:center;
}

div{
  display:table-row;
}

p{
  font-size:16px;
  line-height:20px;
  margin: 10px 0;
}

article{
  padding:15px;
  padding-bottom:0;
  width:600px;
  display:table-cell;
}

section{
  padding:10px 15px;
  margin-bottom:15px;
  background:rgba(255,255,255,0.9);
  border: 5px solid #333;
  border-radius: 2px;
}
section h2{
  font-size:24px;
  padding:10px 15px;
  margin:-15px;
  margin-bottom:15px;
  background:#333;
  color:white;
  text-shadow: 1px 1px 1px black;
}
section h1{
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: -2px;
  word-spacing: 3px;
}

section h3{
  font-size:24px;
  font-weight:normal;
  margin-bottom:5px;
}

aside{
  display:table-cell;
  width:auto;
}
aside ol{
  border-radius: 2px;
  overflow: hidden;
}
aside ol li{
  list-style:none;
  background:#999;
  color:white;
  padding:10px;
  text-shadow:none;
}

aside ol li:nth-child(even){
  background:#333;
}

aside ol li a{
  background:none;
  display:inline;
  padding:0;
  color:white;
  font-weight:lighter;
}

aside ol li a:hover{
  color:#ccc;
  background:none;
}

iframe{
  clear:both;
  width:100%;
  border-radius:2px;
  overflow:hidden;
  margin-bottom:15px;
}

a{
  color:#333;
  text-decoration:none;
  font-weight: lighter;
  padding: 2px 1px;
  background: #DDD;
  border-radius: 2px;
}
a:hover{
  color:#ddd;
  background:#333;
  text-shadow:1px 1px 1px black;
}
.warning{
  background-color:#993333;
  color:#fff;
}

@media all and (max-width: 440px){
  body,
  div,
  article,
  aside{
    display:block;
    width:auto;
  }
  aside{
    padding: 0 15px;
  }
  aside ol{
    overflow-y: scroll;
    max-height: 300px;
  }
}

@media all and (max-width: 699px) and (min-width: 441px) {
  body,
  div,
  article,
  aside{
    display:block;
    width:auto;
  }
  aside{
    padding: 0 20px;
  }
}

@media all and (max-width: 900px) and (min-width: 700px) {
  body,
  div,
  article,
  aside{
    display:block;
    width:auto;
  }
  section{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    padding-top:60px;
    position:relative;
  }
  section h2{
    margin:0;
    position:absolute;
    top:0;
    left:0;
  }
  aside{
    padding: 0 20px;
  }
  aside ol li{
    display: inline-block;
    width: 100%;
  }
 
}

@media all and (min-width: 901px) {
 
}

@media all and (min-width: 352px){
  img.logo-narrow {
    display: none;
  }
}

@media all and (max-width: 352px){
  img.logo-normal {
    display: none;
  }
}
